[Desktop Entry]
Encoding=UTF-8
Name=Link to Centos7安装mplayer播放器和一些简单开发环境的配置 - weixin_39135506的博客 - CSDN博客
Type=Link
URL=https://blog.csdn.net/weixin_39135506/article/details/75333255
Icon=text-html
