[Desktop Entry]
Encoding=UTF-8
Name=Link to MPlayer for centos安装教程_百度经验
Type=Link
URL=https://jingyan.baidu.com/article/1709ad80ab17fc4635c4f070.html
Icon=text-html
